<div class="div-home">
    <nav class="nav-home">
      <%= image_tag "nav-icon.png", :class => "nav-home-img" %>
      <p>My Journal</p>
    </nav>
    <div class="user-log-out">
      <h3><%= current_user.email %></h3>
      <%= button_to image_tag("log-out .png"), destroy_user_session_path, method: :delete %>
    </div>
</div>