
.body-home {
  background-color: #a8dadc;
  font-family: 'Solway', serif;
}

.my-journ {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  text-transform: uppercase;
  padding-left: 4rem;
  align-items: center;
}

.nav-div {
  background-color: #e5989b;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.nav-img {
  height: 40px;
  padding-right: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 5rem;
  text-transform: uppercase;
  font-size: 20px;
  margin-right: 2rem;
  align-items: center;
}

.main-img {
  height: 40rem;
  margin-left: 25rem;
}

.title-div {
  margin-top: 3rem;
}

.main-title {
  font-size: 5.5rem;
  margin-left: 18rem;
  letter-spacing: 6px;
  color: #fff;
}

.sub-head {
  font-size: 2rem;
  margin-left: 30rem;
  color: #fff;
  padding-top: 10px;
  text-transform: uppercase;
}

footer {
  padding-top: 2.3rem;
}

.footer-div {
  background-color: #e5989b;
  height: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  display: flex;
  justify-content: space-between;
}

.sign-in-div {
  background-color: #ffd97d;
  height: 27rem;
  width: 28rem;
  margin-right: 12rem;
  margin-top: 3rem;
  border-radius: 15px;
  box-shadow: 10px 10px 5px gray;
}

.placeholder-div {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.placeholder-div1 {
  display: flex;
  justify-content: center;
}

.placeholder-email {
  height: 3rem;
  width: 21rem;
  padding: 12px 12px;
  border-radius: 6px;
  border: none;
  margin: 8px 0;
  font-family: 'Solway', serif;
  font-weight: bold;
  outline: none;
}


.placeholder-pass {
  height: 3rem;
  width: 21rem;
  padding: 12px 12px;
  border-radius: 6px;
  border: none;
  margin: 8px 0;
  font-family: 'Solway', serif;
  font-weight: bold;
  outline: none;
}

.remember {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  gap: 0.5rem;
} 

.btn-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.log-in-btn {
  background-color: #a8dadc;
  color: #343a40;
  border: none;
  padding: 12px 18px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  font-family: inherit;
}

.log-in-btn:hover {
  color: #fff;
}

.sign-up-div {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.sign-up {
  color: #343a40;
  text-transform: uppercase;
}

.sign-up:hover {
  color: #fff;
}

.signup-link {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.links {
  color: #03045e;
}

.forgot-pass-link {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}

.links:hover {
  color: #f1faee;
}